@import url(../../node_modules/upscale-style-joy-autumn/fonts/My_Fontspring_Fonts_Order_63008897/Web_Fonts/brandontext_regular_macroman/stylesheet.css);
@import url(../../node_modules/upscale-style-joy-autumn/fonts/fontawesome-free-5.15.3-web/css/all.css);
	
#upscale {
	background-color: #fff;
}

* {
    font-family: 'Brandon_txt_reg', sans-serif !important;
}

.fa {
    font-family: 'Font Awesome 5 Free' !important;
}
.fab {
    font-family: 'Font Awesome 5 Brands' !important;
}

.material-icons {
	font-family: 'Material Icons' !important;
}